# Virtual environment
.venv/
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.mypy_cache/
.ruff_cache/
.pytest_cache/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE / OS
.idea/
.vscode/
.DS_Store
*.swp
*.swo
*.adk

.deepeval/
**/sandbox/*
!src/tutorials/t05_mcp_agent/filesystem/sandbox/
!src/tutorials/t05_mcp_agent/filesystem/sandbox/sample.txt
!src/tutorials/t05_mcp_agent/filesystem/sandbox/welcome.md